**/*.png
**/*.jpg
**/*.jpeg
!.scrs/*.png
**/*.swp
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/dracula/*
.config/vifm/vifminfo*
.config/youtube-viewer/*.txt
.config/youtube-viewer/*/
*~
TODO
