.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/dracula/*
.config/qutebrowser/qsettings

.config/transmission*/resume/
.config/transmission*/torrents/
.config/transmission*/blocklists/
.config/transmission*/dht.dat
.config/transmission*/stats.json

.config/youtube-viewer/*.txt
.config/youtube-viewer/instances.json
.config/youtube-viewer/*/
.config/mpv/local.conf
.config/mpv/watch_later

.config/vifm/vifminfo*
.config/vifm/vifm-help.txt
.config/vifm/*local*

.config/kak/autoload/autoload
.vim/plugged
.vim/.netrwhist
.vim/test
.vim/templates

.config/nvim/plugins
.config/nim/test
.config/ocaml/local.ml
.config/qalculate/qalc.history

.w3m/cookie
.w3m/history
.w3m/passwd
.w3m/pre_form
.w3m/w3mtmp*
.w3m/w3mcache*
.w3m/w3msrc*
.w3m/w3mcookie*

.moc/softmixer
.moc/last_directory
.moc/equalizer

groff/

*~
TODO

templates/**/*
!templates/**/*/
!templates/**/*.*

*.png
*.jpg
*.jpeg
!.scrs/*.png
*.swp
*.swo
__pycache__/
autoload

*.o
*.out
*.hi
