# {{{ random

!global/*
!.config

__pycache__/
.*cache*
autoload

.*history*

groff/

TODO
highlight.css

# }}}

# {{{ ftypes

*.png
*.jpg
*.jpeg
!.scrs/*.png
*.swp
*.swo

*.o
*.so
*.out
*.hi

# }}}

# {{{ qute
.config/qutebrowser*/autoconfig.yml
.config/qutebrowser*/bookmarks
.config/qutebrowser*/dracula/*
.config/qutebrowser*/qsettings
# }}}

# {{{ transmission
.config/transmission*/resume/
.config/transmission*/torrents/
.config/transmission*/blocklists/
.config/transmission*/dht.dat
.config/transmission*/stats.json
# }}}

# {{{ mutlimedia

.config/youtube-viewer/*.txt
.config/youtube-viewer/instances.json
.config/youtube-viewer/*/

.config/mpv/local.conf
.config/mpv/watch_later

.moc/softmixer
.moc/last_directory
.moc/equalizer

# }}}

# {{{ vifm
.config/vifm/vifminfo*
.config/vifm/vifm-help.txt
.config/vifm/*local*
# }}}

# {{{ editors

.config/kak/autoload/autoload
!.config/kak/autoload/*.*

.vim/plugged
.vim/.netrwhist
.vim/test
.vim/sessions
.vim/templates
*~
Session.vim
tags

.config/nvim*/plugins
.config/nvim*/sessions

.emacs.d/recentf
.emacs.d/elpa

# }}}

# {{{ langs

.config/nim/test

.config/ocaml/local.ml
.config/qalculate/qalc.history

.config/nix/registry.json

.julia/*
!.julia/config

# }}}

# {{{  w3m

.w3m/cookie
.w3m/history
.w3m/passwd
.w3m/pre_form
.w3m/w3mtmp*
.w3m/w3mcache*
.w3m/w3msrc*
.w3m/w3mcookie*

# }}}

# {{{ webkit browsers
.config/vimb/*
!.config/vimb/**/config
!.config/vimb/**/script.js
!.config/vimb/**/style.css

.config/luakit/*.db
# }}}

# {{{ templates

Templates/**/*
!Templates/**/*/
!Templates/**/*.*
Templates/**/*.swp
Templates/**/*.o
Templates/**/*.so
!Templates/direnv/*envrc*

# }}}
