# {{{ zsh like tab (kind of)

set show-all-if-ambiguous on
# set show-all-if-unmodified on

# }}}

# {{{ binds

# Works well
set keymap emacs

# Better tab
TAB:menu-complete

# shift tab
"\e[Z":menu-complete-backward

# }}}

# {{{ colored completion
set colored-stats on
set colored-completion-prefix on
# }}}

# {{{ prefix <3
set completion-prefix-display-length 7
set menu-complete-display-prefix on
# }}}

# {{{ neat things
set mark-symlinked-directories on
set visible-stats on
# }}}

# {{{ Just in case
set input-meta on
set output-meta on

set enable-keypad on
set keyseq-timeout 350
# }}}

# {{{ history
set history-size 5000
# }}}
