snippet ifor
    for (int ${1:i} = 0; ${1:i}<${2:max}; ${1:i}++) {
        ${0}
    }

snippet dfor
    for (int ${1:i} = ${2:start}; ${1:i}>=0; ${1:i}--) {
        ${0}
    }

snippet pubm
	public ${1:type} ${2:name}(${3:args}) {
		${0}
	}

snippet privm
	private ${1:type} ${2:name}(${3:args}) {
		${0}
	}

snippet protm
	protected ${1:type} ${2:name}(${3:args}) {
		${0}
	}

snippet statm
	static ${1:type} ${2:name}(${3:args}) {
		${0}
	}

