---
CompileFlags:
  Add: [-Wall, -Wno-variadic-macros, -Wextra, -Wunused]
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
      - clang-analyzer-*
      - misc-*
      - bugprone-*
      - mpi-*
      - openmp-*
      # - concurrency-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-use-auto
      - readability-isolate-declaration
      - misc-use-anonymous-namespace
      - bugprone-switch-missing-default-case
      - readability-math-missing-parentheses
    FastCheckFilter: Loose
---
If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  Add: [-xc]
---
If:
  PathMatch: [.*\.cpp, .*\.hpp]
CompileFlags:
  Add: [-xc++, -Weffc++]
ClangTidy:
  Add: cppcoreguidelines-*
