[Desktop Entry]
Version=1.0
Type=Application
Exec=terminator
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator
Name[pl]=Emulator terminala
Comment=Use the command line
Comment[pl]=Wprowadza i wykonuje wiersze poleceń
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
