[Desktop Entry]
Version=1.0
Type=Application
Name=Edytor obrazów GIMP
Comment=Tworzenie oraz obróbka obrazów i fotografii
Exec=gimp-2.10 %U
Icon=gimp
Path=
Terminal=false
StartupNotify=true
