[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/michal/Desktop/Opera Passwords.csv.gpg]
row=5
col=1

[/home/michal/Desktop/user-home.desktop]
row=4
col=1

[/home/michal/Desktop/server_root.desktop]
row=6
col=3

[/home/michal/Desktop/terminator.desktop]
row=7
col=0

[/home/michal/Desktop/python.desktop]
row=2
col=2

[/home/michal/Desktop/server_user.desktop]
row=3
col=3

[/home/michal/Desktop/computer.desktop]
row=3
col=1

[/home/michal/Desktop/Uśpij.desktop]
row=4
col=3

[/home/michal/Desktop/Shiginima_Launcher.desktop]
row=6
col=2

[/home/michal/Desktop/idle.desktop]
row=4
col=2

[/home/michal/Desktop/jupyter lab.desktop]
row=1
col=3

[/home/michal/Desktop/jupyter notebook.desktop]
row=2
col=3

[/home/michal/Desktop/mount_phone.desktop]
row=0
col=3

[/home/michal/Desktop/przetworniki ac.ppt]
row=1
col=1

[/home/michal/Desktop/root_emacs.desktop]
row=0
col=4

[/home/michal/Desktop/ipython.desktop]
row=5
col=2

[/home/michal/Desktop/Opera Passwords.csv]
row=1
col=2

[/home/michal/Desktop/network.desktop]
row=6
col=1

[/home/michal/Desktop/trash-can.desktop]
row=2
col=1

[/home/michal/Desktop/sch]
row=5
col=3

[50060D61060D4A04]
row=3
col=0

[18B81437B814163A]
row=2
col=0

[58BC5BD0BC5BA772]
row=1
col=0

[6c310e8b-f446-4b8e-8f1b-2c8e16f281ff]
row=0
col=0

[Kosz]
row=4
col=0

[/]
row=5
col=0

[/home/michal]
row=6
col=0

